html,
body, #root {
  height: 100%;
  scroll-behavior: smooth;
}

#root {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-wrapper {
  background: url(./images/main-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 100%;
  max-width: 1920px;
}


.app {
  height: 100%;
}

.scene-base {
  background: url('./images/scene-base.jpg');
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1280px;
  height: 720px;
  border: 2px solid #000;
  border-radius: .25rem;

  position: relative;
}

.scene-base .destiny-title {
  position: absolute;
  left: 325px;
  top: 40px;

  height: 150px;
  width: 200px;
  z-index: 1;
}

.scene-base .destiny-title .caption {
  display: none;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  text-align: center;
  transform: rotate(7deg);
  margin-bottom: -35px;
  margin-left: -40px;
}

.scene-base .destiny-title:hover .caption {
  display: initial;
}

.scene-base .hover-scare {
  position: absolute;
  right: 270px;
  top: 28px;

  height: 90px;
  width: 100px;
  transform: skew(15deg, -20deg);
  z-index: 1;
}

.scene-base .hover-scare:hover {
  
  background: url('./images/hover-scare.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .8;
}

.discord-members {
  max-width: 1280px;
}

.discord-members .member-name {
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

header h1 {
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

/* animations */
